@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.eot');
  src: local('Roboto Light'), local('Roboto-Light'),
    url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Grtsk Tera';
  src: url('fonts/BoldTera.eot');
  src: local('Bold Tera'), local('Bold-Tera'),
    url('../fonts/BoldTera.woff2') format('woff2'),
    url('../fonts/BoldTera.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Grtsk Tera';
  src: url('fonts/SemiBoldTera.eot');
  src: local('SemiBold Tera'), local('SemiBold-Tera'),
    url('../fonts/SemiBoldTera.woff2') format('woff2'),
    url('../fonts/SemiBoldTera.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Grtsk Exa';
  src: url('fonts/MediumExa.eot');
  src: local('Medium Exa'), local('Medium-Exa'),
    url('../fonts/MediumExa.woff2') format('woff2'),
    url('../fonts/MediumExa.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Grtsk Exa';
  src: url('fonts/RegularExa.eot');
  src: local('Regular Exa'), local('Regular-Exa'),
    url('../fonts/RegularExa.woff2') format('woff2'),
    url('../fonts/RegularExa.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Grtsk Exa';
  src: url('fonts/LightExa.eot');
  src: local('Light Exa'), local('Light-Exa'),
    url('../fonts/LightExa.woff2') format('woff2'),
    url('../fonts/LightExa.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


:root {
  --max-content-width: 1480px;
  --header-and-footer-height: 291px;
  --card-img-width: 353px;
  --card-img-height: 277px;

  --font-family: "Roboto Regular", sans-serif;
  --second-family: "Grtsk Exa", sans-serif;
  --third-family: "Grtsk Tera", sans-serif;

  --dark-text-color: #000;
  --theme-text-color: #283493;
  --light-text-color: #fff;
  --theme-title-text-color: #283493d0;
  --link-text-color: #9575cd;

  --bg-color: #e3f2fdc9;
  --darker-theme-color: #7e8bff42;

  --transparent-card-color: #ffffffa8;
  --light-card-bg-color: #fff;
  --shadow-color: #e6e6e6;
  --card-shadow-color: #304ffe3a;
  --card-img-bg-color: #d9d9d9;

  --theme-button-text-color: #304ffe;
  --light-button-text-color: #fff;
  --theme-button-color: #8c9eff;
  --light-button-color: #fff;
  --form-button-border-color: #304ffee6;
  --form-button-bg-color: #8c9eff1a;

  --form-input-border-color: #28359396;
  --form-input-shadow-color: #28359340;
  --form-input-bg-color: #8c9eff33;
  --form-group-error-bg-color: #5963ad;

  --calendar-cell-border-radius: 10px;

  --loader-light-color: #9ba7ff;
  --loader-dark-color: #3855f6;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* font-family: var(--second-family); */
}

body {
  font-weight: 400;
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}



/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

.title-reset,
.paragraph-reset {
  margin: 0;
}

html,
body,
#root,
.container {
  min-height: 100vh;
}

/* .container {
  padding: 0 15px;
  background-color: var(--bg-color);
} */

.main {
  padding: 0 100px;
  margin: 0 auto;
  max-width: var(--max-content-width);
  min-height: calc(100% - var(--header-and-footer-height));
}



/* /// shared /// */
/* cb - coworking booking */
.cb-title {
  margin: 30px 0 50px;
  width: 100%;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: var(--theme-title-text-color);
}

.cb-form {
  border-radius: 15px;
  background-color: var(--light-card-bg-color);
  box-shadow: 0 8px 6px 2px rgba(82, 93, 169, 0.19);
  z-index: 5;
}

.cb-form-wrapper {
  border-radius: 15px;
  box-shadow: 0 0 4px 0 var(--theme-button-text-color);
}

.cb-form-top {
  padding: 15px 56px;
  margin-bottom: 20px;
  border-bottom: 1px #4256F6 solid;
}

.cb-form-bottom {
  padding: 0 56px 35px;
}

.cb-form-title {
  position: relative;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--theme-text-color);
}

.cb-form-group {
  position: relative;
  margin-bottom: 20px;
}

.cb-form-group:nth-last-child(-n+2) {
  margin-bottom: 35px;
}

/* .cb-form-group--required {} */

.cb-form-label {
  display: block;
  margin-bottom: 10px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--theme-text-color);
}

.cb-form-group--required .cb-form-label::after {
  content: '*';
  color: #B71C1CBF;
}

.cb-form-sub-label {
  margin-bottom: 5px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #28359399;
  /* 60% */
}

.cb-form-input {
  width: 326px;
  height: 29px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  border: 0.5px solid var(--form-input-border-color);
  box-shadow: 2px 3px 4px 0 var(--form-input-shadow-color);
  background-color: var(--form-input-bg-color);
}

.cb-form-tooltip {
  position: absolute;
  padding: 3px;
  right: 0;
  bottom: 0;
  transform: translateX(120%);
}

.cb-form-tooltip::before {
  bottom: 35px;
  position: absolute;
  padding: 2px 4px;
  width: 290px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  text-align: justify;
  color: #FFFFFFE6;
  content: attr(data-tip);

  background-color: var(--form-group-error-bg-color);
  /* 70% */
  border-radius: 5px;

  transform: translateX(-87%);
}

.cb-form-tooltip::after {
  bottom: 15px;
  position: absolute;
  width: 16px;
  height: 12px;

  content: "";

  border: 10px solid transparent;
  border-top: 10px solid var(--form-group-error-bg-color);
  /* 70% */

  transform: translateX(-80%);
}

.cb-form-tooltip::before,
.cb-form-tooltip::after {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: -100;
}

.cb-form-tooltip:hover::before,
.cb-form-tooltip:hover::after {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}


.cb-form-group-error {
  right: 0;
  bottom: 35px;
  position: absolute;
  padding: 2px 4px;
  min-width: 122px;
  min-height: 37px;
  max-width: 250px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  align-content: center;
  color: #FFFFFFE6;

  background-color: var(--form-group-error-bg-color);
  /* 70% */
  border-radius: 5px;

  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.cb-form-group-error::before {
  right: 30px;
  bottom: -13px;
  position: absolute;
  content: "";
  border: 7px solid transparent;
  border-top: 6px solid var(--form-group-error-bg-color);
  /* 70% */

  transform: translateX(-80%);
}

.cb-form-group-error,
.cb-form-group-error::before {
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: -100;
}

.cb-form-group-error--active,
.cb-form-group-error--active::before {
  opacity: 1;
  z-index: 10;
}


.cb-form-btn {
  padding: 18px 24px;
  font-weight: 400;
  font-size: 20px;
  border-radius: 15px;
}

.cb-toast-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(13px);
  z-index: 100;
}

.cb-toast {
  position: absolute;
  padding: 30px 30px 20px;
  top: 50%;
  left: 50%;
  max-width: 776px;
  border-radius: 15px;
  border: 1px solid #9575cd;
  background-color: var(--light-card-bg-color);
  box-shadow: 0 4px 6px 0 #00000066;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.cb-close-toast-btn {
  position: absolute;
  padding: 3px;
  top: 18px;
  right: 18px;
}

.cb-toast-title {
  margin-bottom: 15px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--theme-button-text-color);
}

.cb-toast-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--theme-text-color);
  white-space: pre-line;
}

.cb-blue-btn {
  font-family: var(--second-family);
  color: #ffffff;
  background-color: #8c9eff;
  border-bottom: 2px solid #283593;
  user-select: none;
}

.cb-blue-btn:hover,
.cb-blue-btn:focus {
  background-color: #5c6bc0;
}

.cb-blue-btn:active {
  transform: inherit scale(0.9, 0.9);
}

.cb-blue-btn:disabled {
  cursor: not-allowed;
  filter: contrast(0.5);
}

.cb-white-btn {
  font-family: var(--second-family);
  color: #304ffe;
  background-color: #ffffff;
  border: 1px solid #8c9eff;
  user-select: none;
}

.cb-white-btn:hover,
.cb-white-btn:focus {
  box-shadow: 0 1px 4px 2px rgba(40, 53, 147, 0.4);
}

.cb-white-btn:active {
  box-shadow: none;
  transform: inherit scale(0.9, 0.9);
}

.cb-white-btn:disabled {
  cursor: not-allowed;
  filter: contrast(0.5);
}

.cb-light-btn {
  font-family: var(--second-family);
  color: #304ffee6;
  background-color: #8c9eff1a;
  border: 1px solid #304ffee6;
  user-select: none;
}

.cb-light-btn:hover,
.cb-light-btn:focus {
  background-color: #ffffff;
  box-shadow: 0 1px 4px 2px rgba(40, 53, 147, 0.4);
}

.cb-light-btn:active {
  background-color: #8c9eff1a;
  box-shadow: none;
  transform: inherit scale(0.9, 0.9);
}

.cb-light-btn:disabled {
  cursor: not-allowed;
  filter: contrast(0.5);
}

.cb-hollow-btn {
  font-family: var(--second-family);
  color: #00000090;
  border: 1px solid #8c9eff80;
  user-select: none;
}

.cb-hollow-btn:hover,
.cb-hollow-btn:focus {
  color: #304ffecc;
  box-shadow: 0 1px 4px 2px rgba(40, 53, 147, 0.4);
}

.cb-hollow-btn:active {
  color: #304ffecc;
  box-shadow: none;
  transform: inherit scale(0.9, 0.9);
}

.cb-hollow-btn:disabled {
  cursor: not-allowed;
  filter: contrast(0.5);
}

.cb-link {
  font-family: var(--second-family);
  color: #9575cd;
  user-select: none;
}

.cb-link:hover,
.cb-link:focus {
  text-shadow: 0 4px 4px rgba(40, 53, 147, 0.25);
}

.cb-link:active {
  color: #673ab7;
  text-shadow: none;
  transform: scale(0.9, 0.9);
}


/* /// header /// */
.header {
  padding: 30px 100px;
  margin: 0 auto;
  max-width: var(--max-content-width);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--darker-theme-color);
}

.header__logo {
  margin-right: 110px;
  width: 51px;
  height: 51px;
}

.nav {
  width: 100%;
}

.nav__items {
  display: flex;
  flex-direction: row;
  gap: 76px;
}

.nav__item-link {
  font-weight: 500;
  font-size: 15px;
}

.main-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.language-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-right: 19px;
}

.language-btn__icon {
  opacity: 70%;
}

.language-btn__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--dark-text-color);
}

.main-controls__register-btn {
  margin-right: 15px;
  padding: 12px 14px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 15px;
}

.main-controls__login-btn {
  padding: 12px 30px;
  font-weight: 400;
  font-size: 15px;
  border-radius: 15px;
}

.main-controls__warning-sign {
  margin-right: 10px;
}

.main-controls__user-acc-btn {
  margin-right: 20px;
  padding: 12px 11px;
  font-weight: 400;
  font-size: 15px;
  border-radius: 15px;
}



/* /// footer /// */
.footer {
  padding: 20px 100px;
  margin: 0 auto;
  max-width: var(--max-content-width);
  border-top: 1px solid rgba(126, 139, 255, 0.25);
  /* 7E8BFF 25% */
}

.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__contacts-header {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 15px;
  color: #304FFEE6;
  /* 90% */
}

.footer__contacts-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 15px;
  color: #304FFECC;
  /* 80% */
}

.footer__media {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.footer__credits {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.footer__credits-left,
.footer__credits-right {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 20px;
  color: #304FFED9;
  /* 85% */
}



/* /// hero /// */
.hero {
  padding: 105px 0 320px;
  background: no-repeat right center url("../img/persona.svg");
}

.hero__title {
  width: 485px;
  margin-bottom: 55px;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 36px;
  color: var(--theme-title-text-color);
}

.searching {
  position: relative;
  display: inline-block;
  background-color: var(--light-button-color);
  border-radius: 10px;
  box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.15);
}

.searching__coworking,
.searching__institute {
  position: relative;
  display: inline-block;
}

.searching__coworking:before,
.searching__institute:before {
  content: "";
  position: absolute;
  left: 0;
  margin-left: 30px;
  display: inline-block;
  overflow: visible;
  z-index: 1;
}

.searching__coworking:before {
  background: no-repeat url("../img/icons/search.svg");
  top: 50%;
  height: 20px;
  width: 20px;
  transform: translateY(-50%);
}

.searching__institute:before {
  background: no-repeat url("../img/icons/map-point.svg");
  top: 50%;
  width: 14px;
  height: 19px;
  transform: translateY(-50%);
}

.searching__coworking-input,
.searching__institute-input {
  padding: 0 20px;
  height: 75px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: var(--dark-text-color);
  border-radius: 10px;
  border: none;
}

.searching__coworking-input {
  width: 330px;
}

.searching__institute-input {
  width: 290px;
}

.searching__separator-line {
  position: absolute;
  display: inline-block;
  margin-left: -2px;
  /* корректируем позицию из-за pos absolute */
  top: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  background-color: var(--shadow-color);
}

.searching__submit-btn {
  margin: 5px 10px 7px;
  padding: 23px 49px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 15px;
}



/* /// coworkings /// */
.coworkings {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* За основу для формы поиска берется схожий элемент из index */
.coworkings__searching {
  margin-bottom: 50px;
}

.coworkings__searching .searching__institute-input,
.coworkings__searching .searching__coworking-input {
  width: 258px;
}

.coworkings__searching .searching__submit-btn {
  margin: 5px 30px;
  padding: 20px 75px;
}

.searching__show-all-btn {
  margin: 5px 30px;
  padding: 20px 45px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 15px;
}

.coworkings__list {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 20px;
}

.coworkings__list-title {
  margin-bottom: 25px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--theme-text-color);
}

.coworkings__list-item {
  padding: 35px 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: var(--transparent-card-color);
  box-shadow: 0 0 4px 0 var(--theme-button-text-color);
  /* поменять на градиент */
}

.coworkings__item-img {
  margin-bottom: 10px;
  width: var(--card-img-width);
  height: var(--card-img-height);
  border-radius: 15px;
  background-color: var(--card-img-bg-color);
}

.coworkings__item-title,
.coworkings__item-content-title,
.coworkings__item-content-info {
  font-family: var(--second-family);
  font-weight: 400;
}

.coworkings__item-title {
  margin-bottom: 7px;
  font-size: 24px;
  color: var(--theme-text-color);
}

.coworkings__item-content {
  min-height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.coworkings__item-content-title {
  font-size: 16px;
  color: var(--theme-text-color);
}

.coworkings__item-content-info {
  font-size: 16px;
  color: var(--theme-button-text-color);
}



/* /// calendar /// */
.calendar {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}

.calendar__title {
  margin-bottom: 35px;
}

/* .calendar__iframe-wrapper {
  position: relative;
  margin: 0 auto 30px;
  /* размеры должны соответствовать размерам iframe
  width: 928px;
  height: 599px;
  background-color: var(--theme-button-color);
  border: 1px solid #525da9;
}

.calendar__iframe {
  position: relative;
  margin: -2px -2px;
  border-width: 0;
  z-index: 5;
}

.calendar__iframe-title {
  position: absolute;
  left: 50%;
  top: 50%;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  color: var(--dark-text-color);
  transform: translateX(-50%);
  z-index: 1;
} */


/* не знаю, как назвать класс для самого компонента календаря, но не потерять связь с названием страницы,
   поэтому дальше под self будет подразумеваться этот самый компонент */
.calendar__self {
  margin: 0 auto 35px;
}

.calendar__self-controls {
  padding: 0 20px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.calendar__self-controls-left-btn,
.calendar__self-controls-right-btn {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  background-color: #8c9effbf;
}

.calendar__self-controls-left-btn {
  box-shadow: 1px 1px 0 0 var(--form-input-border-color);
}

.calendar__self-controls-right-btn {
  box-shadow: -1px 1px 0 0 var(--form-input-border-color);
}

.calendar__self-controls-left-btn::before,
.calendar__self-controls-right-btn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  border-radius: 5px;
  border: 6px solid transparent;
}

.calendar__self-controls-left-btn::before {
  border-right: 6px solid #ffffff;
  transform: translate(-75%, -50%);
}

.calendar__self-controls-right-btn::before {
  border-left: 6px solid #ffffff;
  transform: translate(-25%, -50%);
}

.calendar__self-controls-reset-btn svg {
  vertical-align: middle;
}

.calendar__self-controls-month-title {
  /* width: 175px; */
  /* чтобы кнопки управленя не прыгали при смене месяца */
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: var(--theme-title-text-color);
}

.calendar__self-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-radius: 10px;
  background-color: var(--theme-button-color);
}

.calendar__self-grid-weekday-cell {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 5px;
  color: #ffffff;
  text-align: center;
}

.calendar__self-grid-cell {
  position: relative;
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
  border-radius: var(--calendar-cell-border-radius);
  border: 1px solid #304ffe;
  box-shadow: 0 0 8px 2px rgba(82, 93, 169, 0.19);
  background-color: #ffffffb3;
}

.calendar__self-grid-cell--inactive {
  background-color: #ffffff66;
}

.calendar__self-grid-cell:hover,
.calendar__self-grid-cell--selected {
  background-color: #ffffffd2;
}

.calendar__self-grid-cell--current {
  background-color: #ffe9a8;
}

.calendar__self-grid-cell-top {
  padding: 4px 9px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--theme-title-text-color);
  border-top-left-radius: var(--calendar-cell-border-radius);
  border-top-right-radius: var(--calendar-cell-border-radius);
  background-color: #ffffff66;
  border-bottom: 1px solid #304FFE;
}

.calendar__self-grid-cell--current .calendar__self-grid-cell-top {
  background-color: #ffd968;
}

.calendar__self-grid-cell--current:hover .calendar__self-grid-cell-top,
.calendar__self-grid-cell--current.calendar__self-grid-cell--selected .calendar__self-grid-cell-top {
  background-color: #fde08a;
}

.calendar__self-grid-cell:hover .calendar__self-grid-cell-top,
.calendar__self-grid-cell--selected .calendar__self-grid-cell-top {
  background-color: #ffffffe1;
}

.calendar__self-grid-cell-month {
  margin-right: auto;
}

.calendar__self-grid-cell-holiday {
  color: #b71c1ccc;
}

.calendar__self-grid-cell-bottom {
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: var(--calendar-cell-border-radius);
  border-bottom-right-radius: var(--calendar-cell-border-radius);
}

.calendar__self-grid-cell-message {
  top: 50%;
  left: 50%;
  position: absolute;
  width: 100%;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 11px;
  color: #283593b3;
  transform: translate(-50%, -50%);
}

.calendar__self-grid-cell--selected .calendar__self-grid-cell-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.calendar__form-sub-label {
  margin-bottom: 2px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 11px;
  color: #5f69b3;
  /* 70% */
}

.calendar__form-time-group {
  padding: 1px 4px;
  margin-bottom: 5px;
  width: 78px;
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  border-radius: 5px;
  box-shadow: 2px 3px 4px 0 rgba(40, 53, 147, 0.25);
  background-color: #8C9eff33;
}

.calendar__form-time-group:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.calendar__form-time-select {
  padding: 0;
  width: 30px;
  height: 14px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 8px;
  color: #000000CC;
  border-radius: 10px;
  border: 1px solid #28359399;
  /* 30% */
  background-color: #ffffff;
}

/* .calendar__form-select-option {

} */

.calendar__form-time-separator {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 10px;
  color: #000000cc;
  /* 80% */

}


.calendar__coworking-list {
  padding-bottom: 50px;
  background: no-repeat 80% 50% url("../img/stars.svg");
}

/* за основы для карточек берётся элемент из coworkings */
.calendar .coworking__list-item {
  background-color: var(--light-card-bg-color);
}



/* /// booking /// */
.booking__wrapper {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 25px;
}

.booking__info {
  position: relative;
  flex-basis: 100%;
  padding: 30px 30px 0;
  margin-bottom: 21px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 21px 25px;
  border-radius: 15px;
  background-color: var(--light-card-bg-color);
  box-shadow: 0 0 4px 0 var(--theme-button-text-color);
  /* поменять на градиент */
}

.booking__left-info {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking__info-carousel {
  position: relative;
  margin: 20px 0 16px;
}

.info-carousel__left-btn,
.info-carousel__right-btn {
  position: absolute;
  padding: 18px 15px;
  top: 50%;
  transform: translateY(-50%)
}

.info-carousel__left-btn {
  left: 5px;
}

.info-carousel__right-btn {
  right: 5px;
}

.info-carousel__left-btn::after,
.info-carousel__right-btn::after {
  position: absolute;
  width: 19px;
  height: 19px;
  content: "";
  border-right: 4px solid #D9D9D9B3;
  border-bottom: 4px solid #D9D9D9B3;
  /* 70% */
}

.info-carousel__left-btn::after {
  transform: translate(-35%, -50%) rotateZ(135deg);
}

.info-carousel__right-btn::after {
  transform: rotateZ(-45deg) translate(-10%, -85%);
}

.info-carousel__image {
  min-width: var(--card-img-width);
  width: var(--card-img-width);
  height: var(--card-img-height);
  border-radius: 15px;
  background-color: var(--card-img-bg-color);
}

.booking__info-header,
.booking__opening-title,
.booking__opening-text {
  font-family: var(--second-family);
  font-weight: 400;
}

.booking__info-header {
  margin-bottom: 18px;
  font-size: 24px;
  color: var(--theme-text-color);
}

.booking__info-opening {
  min-height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-flex-start;
  gap: 40px;
}

.booking__opening-title {
  font-size: 16px;
  color: var(--theme-text-color);
}

.booking__opening-text {
  font-size: 16px;
  color: var(--theme-button-text-color);
}

.booking__right-info {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.booking__info-group {
  margin-bottom: 20px;
}

.booking__info-title,
.booking__info-text,
.booking__info-inline-text,
.booking__info-point {
  display: block;
  margin-bottom: 5px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}

.booking__info-text:nth-last-child(-n+1),
.booking__info-point:nth-last-child(-n+1) {
  margin-bottom: 0;
}

.booking__info-title {
  color: var(--theme-text-color);
}

.booking__info-text,
.booking__info-inline-text {
  color: var(--theme-button-text-color);
}

.booking__info-inline-text {
  display: inline-block;
}

.booking__info-list {
  /* отступ для маркера */
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
}

.booking__info-point {
  display: list-item;
  color: var(--theme-button-text-color);
}

.booking__info-point::marker {
  font-size: 13px;
  color: var(--theme-button-text-color);
}

.booking__image-list {
  grid-column: 1 / 3;
  grid-row: 2;
  padding: 0 30px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.booking__image-item,
.booking__image {
  border-radius: 15px;
  width: 108px;
  height: 72px;
}

.booking__info-cancel-btn {
  position: absolute;
  right: 15px;
  bottom: 21px;
  padding: 17px 25px;
  font-weight: 400;
  font-size: 20px;
  border-radius: 15px;
}

.booking__form {
  flex-basis: 35%;
}

.booking__form-top {
  padding: 8px 20px;
  margin-bottom: 15px;
}

.booking__form-bottom {
  padding: 0 20px 25px;
}

.booking__form-group {
  margin-bottom: 10px;
}

.booking__form-group:nth-last-child(-n+2) {
  margin-bottom: 20px;
}

.booking__form-input {
  position: relative;
  padding: 2px 20px 2px 4px;
  height: 22px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #283593CC;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.booking__form-input::before {
  position: absolute;
  top: 50%;
  right: 4px;
  width: 15px;
  height: 15px;
  content: "";
  border-radius: 5px;
  background-color: #8C9EFF99;
  box-shadow: 1px 1px 0 0 var(--form-input-border-color);
  transform: translateY(-50%);
  pointer-events: none;
}

.booking__form-input::after {
  position: absolute;
  top: 50%;
  right: 6px;
  content: "";
  border-radius: 5px;
  border: 5px solid transparent;
  border-top: 5px solid #ffffff;
  transform: translateY(-20%);
  pointer-events: none;
}

.booking__form-input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
  cursor: pointer;
}

.booking__form-input[type=date] {
  width: 130px;
}

.booking__form-select {
  width: 200px;
}

.booking__form-select-option:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.booking__form-time-group {
  padding: 2px 5px;
  margin-bottom: 5px;
  width: 100px;
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.booking__form-time-group:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.booking__form-time-select {
  padding: 1px 2px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  color: #000000CC;
  border-radius: 10px;
  border: 1px solid #2835934D;
  /* 30% */
  background: #ffffff;
  cursor: pointer;
}

.booking__form-time-separator {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  color: #000000;
  /* 80% */
}

.booking__form-submit-btn {
  padding: 18px 45px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.booking__toast-text {
  margin-bottom: 15px;
  text-align: center;
}

.booking__toast-btn-desc {
  margin-bottom: 10px;
  display: block;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #304ffec0;
}

.booking__toast-btn {
  position: relative;
  display: inline-block;
  padding: 10px;
  left: 50%;
  font-weight: 400;
  font-size: 16px;
  border-radius: 15px;
  transform: translateX(-50%);
}



/* /// register /// */
.register {
  margin: 0 auto 80px;
  max-width: 440px;
}

.register-form__submit-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}



/* /// login /// */
.login {
  margin: 0 auto 320px;
  max-width: 440px;
}

.login-form__bottom {
  position: relative;
}

.login-form__submit-error {
  width: 100%;
  position: absolute;
  top: -14px;
  left: 50%;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #304ffee6;
  transform: translateX(-50%);
}

.login-form__submit-error+.cb-form-group {
  margin-top: 16px;
}

.login-form__btns {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}

.login-form__reset-password-btn {
  padding: 18px 5px;
}



/* /// user-acc /// */
.user-acc {
  margin-bottom: 70px;
}

.user-acc__toast {
  padding: 15px 30px 30px;
  margin: 0 auto 50px;
  max-width: 776px;
  border-radius: 15px;
  border: 1px solid #000;
  background-color: var(--light-card-bg-color);
}

.user-acc__toast-title {
  margin-bottom: 10px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--theme-text-color);
}

.user-acc__toast-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--form-button-border-color);
}

.user-acc__info-wrapper {
  margin: 0 auto 35px;
  max-width: 930px;
  width: 100%;
  border-radius: 15px;
  background-color: var(--light-card-bg-color);
  box-shadow: 0 0 8px 2px rgba(82, 93, 169, 0.19);
}

.user-acc__info {
  position: relative;
  padding: 20px 30px 0;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-acc__info-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-acc__info-title {
  margin-right: 10px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--theme-text-color);
}

.user-acc__info-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--form-button-border-color);
}

.user-acc__info-btns {
  padding: 0 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
}

.user-acc__info-edit-btn,
.user-acc__info-change-password-btn {
  padding: 18px 21px;
  font-weight: 400;
  font-size: 20px;
  border-radius: 15px;
}

.user-acc__info-form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(13px);
  z-index: 100;
}

.user-acc__info-form {
  position: absolute;
  display: inline-block;
  margin: 0 auto 35px;
  max-width: 930px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #9575cd;
  background-color: var(--light-card-bg-color);
  box-shadow: 0 4px 6px 0 #00000066;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.user-acc__close-edit-btn {
  position: absolute;
  padding: 3px;
  top: 14px;
  right: 24px;
}

.user-acc__info-input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #304FFEE6;
  border-radius: 5px;
  border: 0.50px solid rgba(40, 53, 147, 0.6);
  background-color: transparent;
}

.user-acc__info-checkbox {
  position: relative;
  width: 25px;
  height: 25px;
  border: 0.50px solid rgba(40, 53, 147, 0.6);
  border-radius: 5px;
  background-color: transparent;
}

.user-acc__info-checkbox-mark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-acc__booked-list-title {
  margin-bottom: 35px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  color: rgba(40, 53, 147, 0.78);
  /* 28... 80% */
}

.user-acc__booked-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.user-acc__booked-item {
  padding: 30px;
  max-width: 930px;
  gap: 0 25px;
}

.user-acc__booked-item:last-child {
  margin-bottom: 50px;
}

.user-acc__booked-item .booking__info-img {
  margin-top: 0;
}

.user-acc__booked-item .booking__info-header {
  margin-bottom: 0;
}

.user-acc__booked-item .booking__info-title {
  display: inline-block;
}

.user-acc__booked-item .booking__info-group:nth-last-child(-n+2) {
  max-width: 70%;
}



.submit-form__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(13px);
  z-index: 100;
}

.submit-form {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  border: 1px solid #9575cd;
  box-shadow: 0 4px 6px 0 #00000066;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.submit-form__top {
  padding: 8px 81px 5px;
  margin-bottom: 15px;
}

.submit-form__sub-title {
  margin-bottom: 15px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--theme-text-color);
}

.submit-form__bottom {
  padding: 0 25px 15px;
}

.submit-form__btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.submit-form__cancel-btn,
.submit-form__submit-btn {
  font-weight: 400;
  font-size: 20px;
  border-radius: 15px;
}

.submit-form__cancel-btn {
  padding: 6px 13px;
}

.submit-form__submit-btn {
  padding: 6px 18px;
}



/* /// new-password && password-recovery /// */
.new-password-form,
.password-recovery-form {
  position: relative;
  display: inline-block;
  left: 9%;
}

.new-password-form__top,
.password-recovery-form__top {
  padding: 8px 77px;
  margin-bottom: 20px;
}

.new-password-form__bottom,
.password-recovery-form__bottom {
  padding: 0 65px 25px;
}

.new-password-form__input-group,
.password-recovery-form__input-group {
  margin-bottom: 10px;
}

.new-password-form__input-group:nth-last-child(-n+2),
.password-recovery-form__input-group:nth-last-child(-n+2) {
  margin-bottom: 20px;
}

.new-password-form__label,
.password-recovery-form__label {
  margin-bottom: 8px;
}

.new-password-form__input,
.password-recovery-form__input {
  width: 200px;
  height: 22px;
}

.new-password-form__submit-btn,
.password-recovery-form__submit-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}



/* /// new-password /// */
.new-password {
  padding: 160px 0 250px;
  background: no-repeat right center url("../img/persona.svg")
}



/* /// password-recovery /// */
.password-recovery {
  padding: 160px 0 250px;
  background: no-repeat right center url("../img/persona.svg")
}

.password-recovery-form__top {
  padding-left: 52px;
  padding-right: 52px;
}

.password-recovery-form__submit-btn {
  padding-left: 5px;
  padding-right: 5px;
}



/* /// select /// */
.select {
  position: relative;
  width: 200px;
  height: 22px;
  border-radius: 5px;
  border: 0.5px solid #28359399;
  background-color: #8C9EFF33;
  box-shadow: 2px 3px 4px 0 rgba(40, 53, 147, 0.25);
  cursor: pointer;
}

.select__placeholder {
  padding: 2px 20px 2px 4px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: #283593CC;
  z-index: 3;
}

.select__placeholder::before {
  position: absolute;
  top: 50%;
  right: 4px;
  width: 15px;
  height: 15px;
  content: "";
  border-radius: 5px;
  background-color: #8c9eff99;
  box-shadow: 1px 1px 0 0 var(--form-input-border-color);
  transform: translateY(-50%);
  pointer-events: none;
}

.select__placeholder::after {
  position: absolute;
  top: 50%;
  right: 6px;
  content: "";
  border-radius: 5px;
  border: 5px solid transparent;
  border-top: 5px solid #ffffff;
  transform: translateY(-20%);
  pointer-events: none;
}

/* .select__placeholder[data-selected="true"] {
  color: rgb(0, 0, 0);
}

.select[data-is-active="true"] .select__arrow {
  transform: rotate(180deg);
  margin-top: -6px;
}

.select[data-is-active="true"] .select__placeholder {
  border: 1px solid #0022f5;
} */

.select__option-list {
  position: absolute;
  display: grid;
  width: 101%;
  top: 105%;
  left: -0.5%;
  background-color: #e8ecff;
  z-index: 5;
}

.select__option {
  padding: 6px 5px;
  width: 100%;
  height: 26px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 13px;
  color: #283593cc;
  border: 0.5px solid #28359399;
  border-top: none;
  cursor: pointer;
}

.select__option:nth-last-child(-n+1) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* .select__option[aria-selected="true"] {
  background-color: rgba(0, 0, 0, 0.05);
}

.select__option:hover {
  background-color: rgba(0, 0, 0, 0.1);
} */



/* /// loader /// */
.loader {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--loader-dark-color);
  box-shadow: 32px 0 var(--loader-dark-color), -32px 0 var(--loader-dark-color);
  animation: loader 0.5s ease-out infinite alternate;
}

.loader-vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.loader-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes loader {
  0% {
    background-color: var(--loader-light-color);
    box-shadow: 32px 0 var(--loader-light-color), -32px 0 var(--loader-dark-color);
  }

  50% {
    background-color: var(--loader-dark-color);
    box-shadow: 32px 0 var(--loader-light-color), -32px 0 var(--loader-light-color);
  }

  100% {
    background-color: var(--loader-light-color);
    box-shadow: 32px 0 var(--loader-dark-color), -32px 0 var(--loader-light-color);
  }
}



/* /// temp /// */
.temp-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 10px;
}

/*
alpha % = alpha HEX
90% = e6
80% = cc
70% = b3
60% = 99
50% = 80
40% = 66
30% = 4d
20% = 33
10% = 1a
*/