@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.eot');
  src: local('Roboto Light'), local('Roboto-Light'),
    url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Grtsk Tera';
  src: url('fonts/BoldTera.eot');
  src: local('Bold Tera'), local('Bold-Tera'),
    url('../fonts/BoldTera.woff2') format('woff2'),
    url('../fonts/BoldTera.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Grtsk Tera';
  src: url('fonts/SemiBoldTera.eot');
  src: local('SemiBold Tera'), local('SemiBold-Tera'),
    url('../fonts/SemiBoldTera.woff2') format('woff2'),
    url('../fonts/SemiBoldTera.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Grtsk Exa';
  src: url('fonts/MediumExa.eot');
  src: local('Medium Exa'), local('Medium-Exa'),
    url('../fonts/MediumExa.woff2') format('woff2'),
    url('../fonts/MediumExa.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Grtsk Exa';
  src: url('fonts/RegularExa.eot');
  src: local('Regular Exa'), local('Regular-Exa'),
    url('../fonts/RegularExa.woff2') format('woff2'),
    url('../fonts/RegularExa.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Grtsk Exa';
  src: url('fonts/LightExa.eot');
  src: local('Light Exa'), local('Light-Exa'),
    url('../fonts/LightExa.woff2') format('woff2'),
    url('../fonts/LightExa.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


:root {
  --card-img-width: 353px;
  --card-img-height: 277px;

  --font-family: "Roboto Regular", sans-serif;
  --second-family: "Grtsk Exa", sans-serif;
  --third-family: "Grtsk Tera", sans-serif;

  --dark-text-color: #000;
  --theme-text-color: #283493;
  --light-text-color: #fff;
  --theme-title-text-color: #283493d0;
  --link-text-color: #9575cd;

  --bg-color: #e3f2fdc9;
  --darker-theme-color: #7e8bff42;

  --transparent-card-color: #ffffffa8;
  --light-card-bg-color: #fff;
  --shadow-color: #e6e6e6;
  --card-shadow-color: #304ffe3a;
  --card-img-bg-color: #d9d9d9;

  --theme-button-text-color: #304ffe;
  --light-button-text-color: #fff;
  --theme-button-color: #8c9eff;
  --light-button-color: #fff;
  --form-button-border-color: #304ffee6;
  --form-button-bg-color: #8c9eff1a;
  --darker-form-button-bg-color: #8c9eff42;

  --form-input-border-color: #28359396;
  --form-input-shadow-color: #28359340;
  --form-input-bg-color: #8c9eff33;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* font-family: var(--second-family); */
}

body {
  /* min-width: 1200px; */
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}



/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

.title-reset,
.paragraph-reset {
  margin: 0;
}

.container {
  max-width: 1480px;
  /* padding: 0 15px; */
  margin: 0 auto;
  background-color: var(--bg-color);
}

.main {
  padding: 0 100px;
}



/* /// shared /// */
/* cb - coworking booking */
.cb-title {
  margin: 30px 0 50px;
  width: 100%;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: var(--theme-title-text-color);
}

.cb-form {
  border-radius: 15px;
  background-color: var(--light-card-bg-color);
  box-shadow: 0 8px 6px 2px rgba(82, 93, 169, 0.19);
  z-index: 5;
}

.cb-form-wrapper {
  border-radius: 15px;
  box-shadow: 0 0 4px 0 var(--theme-button-text-color);
}

.cb-form-top {
  padding: 15px 56px;
  margin-bottom: 20px;
  border-bottom: 1px #4256F6 solid;
}

.cb-form-bottom {
  padding: 0 56px 35px;
}

.cb-form-title {
  position: relative;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--theme-text-color);
}

.cb-form-group {
  position: relative;
  margin-bottom: 20px;
}

.cb-form-group:nth-last-child(-n+2) {
  margin-bottom: 35px;
}

.cb-form-label {
  display: block;
  margin-bottom: 10px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--theme-text-color);
}

.cb-form-sub-label {
  margin-bottom: 5px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #28359399;
  /* 60% */
}

.cb-form-input {
  width: 326px;
  height: 29px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  border: 0.5px solid var(--form-input-border-color);
  box-shadow: 2px 3px 4px 0 var(--form-input-shadow-color);
  background-color: var(--form-input-bg-color);
}

.cb-form-tooltip {
  position: absolute;
  padding: 3px;
  right: 0;
  bottom: 0;
  transform: translateX(120%);
}

.cb-form-tooltip::before {
  bottom: 35px;
  position: absolute;
  padding: 2px 4px;
  width: 290px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  text-align: justify;
  color: #FFFFFFE6;
  content: attr(data-tip);

  background-color: #283593B3;
  /* 70% */
  border-radius: 5px;

  transform: translateX(-87%);
}

.cb-form-tooltip::after {
  bottom: 15px;
  position: absolute;
  width: 16px;
  height: 12px;

  content: "";

  border: 10px solid transparent;
  border-top: 10px solid #283593B3;
  /* 70% */

  transform: translateX(-80%);
}

.cb-form-tooltip::before,
.cb-form-tooltip::after {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: -100;
}

.cb-form-tooltip:hover::before,
.cb-form-tooltip:hover::after {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.cb-form-btn,
.cb-form-darker-btn {
  padding: 18px 24px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--theme-button-text-color);
  border-radius: 15px;
  border: 1px solid var(--form-button-border-color);
  background-color: var(--form-button-bg-color);
}

.cb-form-darker-btn {
  background-color: var(--darker-form-button-bg-color);
}

.cb-toast {
  padding: 30px 30px 40px;
  max-width: 776px;
  border-radius: 15px;
  border: 1px solid #000;
  background-color: var(--light-card-bg-color);
}

.cb-toast-title {
  margin-bottom: 15px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--theme-text-color);
}

.cb-toast-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--theme-text-color);
}



/* /// header /// */
.header {
  padding: 30px 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--darker-theme-color);
}

.header__logo {
  margin-right: 110px;
  width: 51px;
  height: 51px;
}

.nav {
  width: 100%;
}

.nav__items {
  display: flex;
  flex-direction: row;
  gap: 76px;
}

.nav__item-link {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 15px;
  color: var(--link-text-color);
}

.main-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
}

.language-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-right: 19px;
}

.language-btn__icon {
  opacity: 70%;
}

.language-btn__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--dark-text-color);
}

.main-controls__register-btn {
  padding: 12px 14px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--dark-text-color);
  border: 1px solid var(--theme-button-color);
  border-radius: 15px;
  opacity: 0.6;
}

.main-controls__login-btn {
  padding: 12px 30px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  color: var(--theme-button-text-color);
  background-color: var(--light-button-color);
  border: 1px solid var(--theme-button-color);
  border-radius: 15px;
}

.main-controls__user-acc-btn {
  padding: 12px 11px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  color: var(--theme-button-text-color);
  background-color: var(--light-button-color);
  border: 1px solid var(--theme-button-color);
  border-radius: 15px;
}

.main-controls__logout-btn {
  margin-left: 5px;
}



/* /// footer /// */
.footer {
  padding: 20px 100px;
  border-top: 1px solid rgba(126, 139, 255, 0.25);
  /* 7E8BFF 25% */
}

.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__contacts-header {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 15px;
  color: #304FFEE6;
  /* 90% */
}

.footer__contacts-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 15px;
  color: #304FFECC;
  /* 80% */
}

.footer__media {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.footer__credits {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

.footer__credits-left,
.footer__credits-right {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 20px;
  color: #304FFED9;
  /* 85% */
}



/* /// hero /// */
.hero {
  padding: 105px 0 320px;
  background: no-repeat right center url("../img/persona.svg");
}

.hero__title {
  width: 485px;
  margin-bottom: 55px;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 36px;
  color: var(--theme-title-text-color);
}

.searching {
  position: relative;
  display: inline-block;
  background-color: var(--light-button-color);
  border-radius: 10px;
  box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.15);
}

.searching__audience,
.searching__institute {
  position: relative;
  display: inline-block;
}

.searching__audience:before,
.searching__institute:before {
  content: "";
  position: absolute;
  left: 0;
  margin-left: 30px;
  display: inline-block;
  overflow: visible;
  z-index: 1;
}

.searching__audience:before {
  background: no-repeat url("../img/icons/search.svg");
  top: 50%;
  height: 20px;
  width: 20px;
  transform: translateY(-50%);
}

.searching__institute:before {
  background: no-repeat url("../img/icons/map-point.svg");
  top: 50%;
  width: 14px;
  height: 19px;
  transform: translateY(-50%);
}

.searching__audience-input,
.searching__institute-input {
  padding: 0 20px;
  height: 75px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: var(--dark-text-color);
  border-radius: 10px;
  border: none;
}

.searching__audience-input {
  width: 330px;
}

.searching__institute-input {
  width: 290px;
}

.searching__separator-line {
  position: absolute;
  display: inline-block;
  margin-left: -2px;
  /* корректируем позицию из-за pos absolute */
  top: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  background-color: var(--shadow-color);
}

.searching__submit-btn {
  margin: 5px 10px 7px;
  padding: 23px 49px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--light-button-text-color);
  background-color: var(--theme-button-color);
  border-radius: 15px;
  box-shadow: 0 2px 0 0 var(--theme-text-color);
}



/* /// booking /// */
.booking {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* За основу для формы поиска берется схожий элемент из coworking */
.booking__searching {
  margin-bottom: 50px;
}

.booking__searching .searching__institute-input,
.booking__searching .searching__audience-input {
  width: 258px;
}

.booking__searching .searching__submit-btn {
  margin: 5px 30px;
  padding: 20px 75px;
}

.searching__show-all-btn {
  margin: 5px 30px;
  padding: 20px 45px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--theme-button-text-color);
  background-color: var(--light-button-color);
  border: 1px solid var(--theme-button-color);
  border-radius: 15px;
  /* box-shadow: 0 8px 6px 0 var(--theme-text-color); */
}

.booking__list {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 20px;
}

.booking__list-item {
  padding: 35px 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: var(--transparent-card-color);
  box-shadow: 0 0 4px 0 var(--theme-button-text-color);
  /* поменять на градиент */
}

.booking__item-img {
  margin-bottom: 10px;
  width: var(--card-img-width);
  height: var(--card-img-height);
  border-radius: 15px;
  background-color: var(--card-img-bg-color);
}

.booking__item-title,
.booking__item-content-title,
.booking__item-content-info {
  font-family: var(--second-family);
  font-weight: 400;
}

.booking__item-title {
  margin-bottom: 7px;
  font-size: 24px;
  color: var(--theme-text-color);
}

.booking__item-content {
  min-height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.booking__item-content-title {
  font-size: 16px;
  color: var(--theme-text-color);
}

.booking__item-content-info {
  font-size: 16px;
  color: var(--theme-button-text-color);
}



/* /// calendar /// */
.calendar {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}

.calendar__iframe-wrapper {
  position: relative;
  margin: 0 auto 30px;
  width: 928px;
  height: 599px;
  /* размеры должны соответствовать размерам iframe */
  background-color: var(--theme-button-color);
  border: 1px solid #525da9;
}

.calendar__iframe {
  position: relative;
  margin: -2px -2px;
  border-width: 0;
  z-index: 5;
}

.calendar__iframe-title {
  position: absolute;
  left: 50%;
  top: 50%;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  color: var(--dark-text-color);
  transform: translateX(-50%);
  z-index: 1;
}

.calendar__booking-list {
  padding-bottom: 50px;
  background: no-repeat 80% 50% url("../img/stars.svg");
}

.booking__list-title {
  margin-bottom: 25px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--theme-text-color);
}

/* за основы для карточек берётся элемент из booking */
.calendar .booking__list-item {
  background-color: var(--light-card-bg-color);
}



/* /// coworking /// */
.coworking__wrapper {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 25px;
}

.coworking__info {
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  gap: 25px;
  border-radius: 15px;
  background-color: var(--light-card-bg-color);
  box-shadow: 0 0 4px 0 var(--theme-button-text-color);
  /* поменять на градиент */
}

.coworking__left-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coworking__info-img {
  margin-top: 20px;
  margin-bottom: 16px;
  min-width: var(--card-img-width);
  width: var(--card-img-width);
  height: var(--card-img-height);
  border-radius: 15px;
  background-color: var(--card-img-bg-color);
}

.coworking__info-header,
.coworking__opening-title,
.coworking__opening-text {
  font-family: var(--second-family);
  font-weight: 400;
}

.coworking__info-header {
  margin-bottom: 18px;
  font-size: 24px;
  color: var(--theme-text-color);
}

.coworking__info-opening {
  min-height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.coworking__opening-title {
  font-size: 16px;
  color: var(--theme-text-color);
}

.coworking__opening-text {
  font-size: 16px;
  color: var(--theme-button-text-color);
}

.coworking__right-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.coworking__info-group {
  margin-bottom: 20px;
}

.coworking__info-title,
.coworking__info-text,
.coworking__info-inline-text,
.coworking__info-point {
  display: block;
  margin-bottom: 5px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}

.coworking__info-text:nth-last-child(-n+1),
.coworking__info-point:nth-last-child(-n+1) {
  margin-bottom: 0;
}

.coworking__info-title {
  color: var(--theme-text-color);
}

.coworking__info-text,
.coworking__info-inline-text {
  color: var(--theme-button-text-color);
}

.coworking__info-inline-text {
  display: inline-block;
}

.coworking__info-list {
  /* отступ для маркера */
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
}

.coworking__info-point {
  display: list-item;
  color: var(--theme-button-text-color);
}

.coworking__info-point::marker {
  font-size: 13px;
  color: var(--theme-button-text-color);
}

.coworking__info-cancel-btn {
  position: absolute;
  right: 15px;
  bottom: 21px;
  padding: 17px 25px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--form-button-border-color);
  border-radius: 15px;
  border: 1px solid var(--form-button-border-color);
  background-color: var(--form-button-bg-color);
}

.coworking__form {
  flex-basis: 35%;
}

.coworking__form-top {
  padding: 8px 20px;
  margin-bottom: 15px;
}

.coworking__form-bottom {
  padding: 0 20px 25px;
}

.coworking__form-group {
  margin-bottom: 10px;
}

.coworking__form-group:nth-last-child(-n+2) {
  margin-bottom: 20px;
}

.coworking__form-select,
.coworking__form-input {
  position: relative;
  height: 22px;
}

.coworking__form-select {
  width: 200px;
}

.coworking__form-input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
  cursor: pointer;
}

.coworking__form-input[type=date] {
  width: 130px;
}

.coworking__form-time-group {
  padding: 2px 5px;
  margin-bottom: 5px;
  width: 100px;
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.coworking__form-time-group:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.coworking__form-time-select {
  padding: 1px 2px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  color: #000000CC;
  border-radius: 10px;
  border: 1px solid #2835934D;
  /* 30% */
  background: #ffffff;
}

.coworking__form-time-separator {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  color: #000000;
  /* 80% */
}

.coworking__form-submit-btn {
  padding: 18px 45px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.coworking__toast-text {
  text-align: center;
}



/* /// register /// */
.register {
  margin: 0 auto 80px;
  max-width: 440px;
}

.register-form__submit-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}



/* /// auth /// */
.auth {
  margin: 0 auto 320px;
  max-width: 440px;
}

.auth-form__btns {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}

.auth-form__reset-password-btn {
  padding: 18px 5px;
}



/* /// user-acc /// */
.user-acc {
  margin-bottom: 70px;
}

.user-acc__info-wrapper {
  margin: 0 auto 35px;
  max-width: 930px;
  width: 100%;
  border-radius: 15px;
  background-color: var(--light-card-bg-color);
  box-shadow: 0 0 8px 2px rgba(82, 93, 169, 0.19);
}

.user-acc__info {
  position: relative;
  padding: 20px 30px 0;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-acc__info-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-acc__info-title {
  margin-right: 10px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--theme-text-color);
}

.user-acc__info-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--form-button-border-color);
}

.user-acc__info-btns {
  padding: 0 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 15px;
}

.user-acc__info-edit-btn,
.user-acc__info-change-password-btn {
  padding: 18px 21px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--form-button-border-color);
  border-radius: 15px;
  border: 1px solid var(--form-button-border-color);
  background-color: var(--form-button-bg-color);
}

.user-acc__close-edit-btn {
  position: absolute;
  top: 14px;
  right: 24px;
}

.user-acc__info-input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #304FFEE6;
  border-radius: 5px;
  border: 0.50px solid rgba(40, 53, 147, 0.6);
  background-color: transparent;
}

.user-acc__info-checkbox {
  position: relative;
  width: 25px;
  height: 25px;
  border: 0.50px solid rgba(40, 53, 147, 0.6);
  border-radius: 5px;
  background-color: transparent;
}

.user-acc__info-checkbox-mark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-acc__booked-list-title {
  margin-bottom: 35px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  color: rgba(40, 53, 147, 0.78);
  /* 28... 80% */
}

.user-acc__booked-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.user-acc__booked-item {
  max-width: 930px;
}

.user-acc__booked-item:last-child {
  margin-bottom: 50px;
}

.user-acc__booked-item .coworking__info-img {
  margin-top: 0;
}

.user-acc__booked-item .coworking__info-header {
  margin-bottom: 0;
}

.user-acc__booked-item .coworking__info-title {
  display: inline-block;
}

.user-acc__booked-item .coworking__info-group:nth-last-child(-n+2) {
  max-width: 70%;
}

.user-acc__toast {
  padding: 15px 30px 30px;
  margin: 0 auto 50px;
  max-width: 776px;
  border-radius: 15px;
  border: 1px solid #000;
  background-color: var(--light-card-bg-color);
}

.user-acc__toast-title {
  margin-bottom: 10px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--theme-text-color);
}

.user-acc__toast-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--form-button-border-color);
}

.user-acc__submit-form {
  display: inline-block;
}

.submit-form__top {
  padding: 8px 81px 5px;
  margin-bottom: 15px;
}

.submit-form__sub-title {
  margin-bottom: 15px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--theme-text-color);
}

.submit-form__bottom {
  padding: 0 25px 15px;
}

.submit-form__btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.submit-form__cancel-btn,
.submit-form__submit-btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #304FFEE6;
  /* 90% */
  border-radius: 15px;
  border: 1px solid #304FFEE6;
  /* 90% */
  background-color: transparent;
}

.submit-form__cancel-btn {
  padding: 6px 13px;
}

.submit-form__submit-btn {
  padding: 6px 18px;
}



/* /// temp /// */
.new-password {
  padding: 160px 0 250px;
  background: no-repeat right center url("../img/persona.svg")
}

.new-password-form {
  position: relative;
  display: inline-block;
  left: 9%;
}

.new-password-form__top {
  padding: 8px 77px;
  margin-bottom: 20px;
}

.new-password-form__bottom {
  padding: 0 65px 25px;
}

.new-password-form__input-group {
  margin-bottom: 10px;
}

.new-password-form__input-group:nth-last-child(-n+2) {
  margin-bottom: 20px;
}

.new-password-form__label {
  margin-bottom: 8px;
}

.new-password-form__input {
  width: 200px;
  height: 22px;
}

.new-password-form__set-password-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}



/* /// temp /// */
.temp-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 10px;
}

/*
alpha % = alpha HEX
90% = e6
80% = cc
70% = b3
60% = 99
50% = 80
40% = 66
30% = 4d
20% = 33
10% = 1a
*/